:root{
    --Very-dark-blue: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White:hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--Very-dark-blue);
}

.card-container {
    background-color: var(--Very-dark-blue-card);
    width: 375px;
    padding: 2.8rem;
    border-radius: 1rem;
}


.card-container__picture {
    width: 100%;
    border-radius: 1rem;
}
.card-container__title {
    font-size: 2rem;
    color: var(--White);
    font-family: 'Outfit', sans-serif;
    padding: 2rem 0;
}
.card-container__description {
    font-size: 1.8rem;
    color: var(--Soft-blue);
    font-family: 'Outfit', sans-serif;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.price-container div {
    display: flex;
} 
.price-container__Eth-icon {
    margin-right: 0.8rem;
}
.price-container__price {
    color: var(--Cyan);
    font-size: 1.8rem;
    font-family: 'Outfit', sans-serif;
    
}
.price-container__clock-icon {
    margin-right: 0.8rem;
}
.price-container__timer-text {
    font-family: 'Outfit', sans-serif;
    color: var(--Soft-blue);
    font-size: 1.8rem;
}


.author-container {
    display: flex;
    margin-top: 2rem;
}
.author-container img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid var(--White);
}
.author-container__text--blue {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    color: var(--Soft-blue);
    margin: 1rem 0.4rem 0 1rem;
}
.author-container__text--white {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    color: var(--White);
    margin-top: 1rem;
}
